html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(34, 34, 34);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/** HEADER **/

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.nav ul {
  display: flex;
}

.nav-link a {
  padding: 10px 0px;
  margin-left: 25px;
  font-size: 20px;
}

.nav-link a:hover {
  border-bottom: 2px solid rgb(132, 14, 201);
}

#login {
  border: 2px solid rgb(132, 14, 201);
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

#login:hover {
  background-color: rgb(132, 14, 201);
}

#container-title {
  display: flex;
  gap: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

/** MAIN **/

.container-main {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.container-left {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 28px;
  font-weight: 300;
}

h1 {
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 20px;
}

#title span {
  color: rgb(132, 14, 201);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px 0px;
  width: 70%;
}

.form input {
  padding: 20px;
  outline: none;
  border-radius: 8px;
  border: none;
}

#button {
  background-color: rgb(132, 14, 201);
  border: 2px solid rgb(132, 14, 201);
  color: white;
  cursor: pointer;
}

#button:hover {
  border: 2px solid rgb(132, 14, 201);
  background-color: transparent;
  transition: 0.3s;
}

#nome,
#email {
  border: 2px solid white;
  cursor: pointer;
}

#nome:focus,
#email:focus {
  border: 2px solid rgb(132, 14, 201);
}

.container-right img {
  width: 580px;
}

/** Footer **/

.footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 300;
}
